services:
  world-ruby:
    image: ghcr.io/scrogatl/doodle-world-ruby:latest
    container_name: world-ruby
    environment: 
      - SHARD=docker-local
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}


  world:
    image: ghcr.io/scrogatl/doodle-world:latest
    container_name: world
    environment: 
      - SHARD=docker-local
      - PYTHONUNBUFFERED=1
      - OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp.nr-data.net
      - OTEL_EXPORTER_OTLP_HEADERS=api-key=
      - OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf 
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}
    # command: opentelemetry-instrument --logs_exporter otlp flask run --debugger --host=0.0.0.0 -p 5002
    # command: newrelic-admin run-program flask run --host=0.0.0.0 -p 5002

  hello:
    image: ghcr.io/scrogatl/doodle-hello:latest
    container_name: hello
    environment: 
      - SHARD=docker-local
      - WEATHER_HOST=weather
      - PYTHONUNBUFFERED=1
      - ERROR_THRESH=1
      - WEATHER_THRESH=1
      # - OTEL_EXPORTER_OTLP_HEADERS=api-key=${NEW_RELIC_LICENSE_KEY}
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}

  frontend:
    image: ghcr.io/scrogatl/doodle-frontend:latest
    container_name: frontend  
    environment: 
      - HELLO_HOST=hello
      - WPORT=5002
      - WORLD_HOST=world
      - WORLD_HOST_RUBY=world-ruby
      - WPORT_RUBY=5003
      - SHARD=docker-local
      - PYTHONUNBUFFERED=1
      - RUBY_WORLD=50
      # - OTEL_EXPORTER_OTLP_HEADERS=api-key=
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}

  weather:
    image: ghcr.io/scrogatl/doodle-weather:latest
    container_name: weather
    environment:
      - SHARD=docker-local
      - NEW_RELIC_LICENSE_KEY=${NEW_RELIC_LICENSE_KEY}

  
  loadgen:
    image: ghcr.io/scrogatl/doodle-loadgen:latest
    environment: 
      - FRONTEND_HOST=frontend
      - WORLD_HOST=world
      - SLEEP_TIME=16000
      - PYTHONUNBUFFERED=1
      - SHARD=docker-local

